###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> MacOS ###
.DS_Store
###< MacOS ###

###> Migrations ###
/migrations/
###< Migrations ###

###> Uploads ###
/public/uploads/
/public/images/profil/*
!/public/images/profil/default-avatar.webp
/public/images/skill/
/public/images/career/cover/
/public/images/career/job/
/public/images/project/cover/
/public/images/project/picture/
###< Uploads ###
